# Created by pytest automatically.
#cosa deve ignorare: Tutto quello che non vogliamo che vada in source controll
.pytest_cache/
venv/
.coverage

*.pyc
__pycache__/
*.pyo
*.pyd

data/
*.pth
*.pt

presistent_data/

*.png
*.jpg
*.jpeg